_freeze
_site
.quarto
/.quarto/*
.jupyter_cache/
.ipynb_checkpoints/
*.quarto_ipynb
diagram-*.pdf
figures/*.log
figures/*.svg
figures/*.aux
figures/*.pdf
*_files/
.DS_Store
figures/*.gnuplot
figures/*.table

/.quarto/
JuliaMono-Medium.ttf
